<div class="container">
  <div class="row ">
    <% @profiles.each do |profile| %>
    <ul class="thumbnails col-md-4">
      
            
              <div class="thumbnail">
                <%= image_tag profile.image.url(:medium) %>
                <div class="caption">
                  <h3><%= profile.name %></h3>
                  <p><%= profile.rate %> dollars per hour</p>
                  <p align="center"><%= link_to 'View Profile', profile, class: "btn btn-primary btn-block" %></p>
                </div>
              </div>
            
            
        </ul>
        <% end %>
  </div>
</div>


